html,body{
    padding:0;
    margin:0;
    height:100%;
    box-sizing: border-box;
}
.bigcontainer{
    background-color: black;
    color:white;
    height:80%;
    width:50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding:1rem;
    justify-content: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:0.5rem;
    height:9rem;
}
.column{
    background-color: brown;
}

